-
  const artistList = [
    {
      name: '9m88',
      img: `${basePath}/img/lineup/artist-01.jpg`,
      featured: 1
    },
    {
      name: '恆月三途',
      img: `${basePath}/img/lineup/artist-02.jpg`,
      size: 'lg',
      featured: 1
    },
    {
      name: 'Beyound Cure',
      img: `${basePath}/img/lineup/artist-03.jpg`,
      direction: 'reverse',
      size: 'lg',
      featured: 1
    },
    {
      name: 'Dudu King',
      img: `${basePath}/img/lineup/artist-04.jpg`,
      direction: 'reverse',
      featured: 1
    },
    {
      name: 'Da Wang',
      img: `${basePath}/img/lineup/artist-05.jpg`,
      direction: 'reverse',
      featured: 1
    }
  ];