mixin Btn(options)
  -
    // Object.assign 用來合併預設值及傳進來的 options 值
    const props = Object.assign({
      // 預設值
      href: '##',
      target: undefined,
      position: ''
    }, options);

    const classes = [
      props.size ? `--size-${props.size}` : '',
      props.direction ? `--${props.direction}` : ''
    ];
  //- &attributes(attributes) 傳入 html 屬性
  div&attributes(attributes)(
    class=props.position ? `--${props.position}` : ''
    class="o-btn"
  )
    a(href=props.href target=props.target class="o-btn__link")
      block
      