include ../components/_Btn.pug

mixin Card(options)
  -
    const props = Object.assign({
      data: {}
    }, options)

    const data = props.data;
    const classes = [];

  article(class="c-card" class=classes)
    span(class="c-card__date") #{data.publish_date}
    div(class="c-card__wrap")
      a(
        href=`${basePath}/news/${data.path || data.id}.html`
        class="u-img-ratio" 
        style="--ratio: 1/1"
      )
        img(
          src=`${basePath}/${data.image}`
          alt=data.title
          class="u-object-fit"
        )

      h3(class="my-4 text-md fw-700 line-clamp-1") #{data.title}
      p(class="line-clamp-2") #{data.description}

      div(class="o-btn -align-right ")
        +Btn({
          href: `${basePath}/news/${data.path || data.id}.html`,
          align: 'right'
        })(class="mt-10 mb-2") MORE
